.main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding:  0 20px;

    img{
        flex: 1;
        display: block;
        max-width: 100%;
        min-width: 0;
        height: auto;
        object-fit: contain;
    }
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1{
        font-family: 'Souce Sans 3', sans-serif;
        font-weight: 700;
        font-size: 90px;
        color: #205691;
        max-width: 45rem;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #205691;

    }

   button{
            max-width: 332px;
            padding: 20px 0;
            background-color: #F27267;
            color: white;
            font-size: 24px;
            font-family: "Source Sans 3", sans-serif;
            font-weight: 600;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #d44a3d;
            }
        }
}

.infoDados{
    display: flex;
    justify-content: space-between;
    
h2, h3 {
color: #205691;
text-align: center;
}

h2 {
font-family: "Source Sans 3", sans-serif;
font-size: 50px;
font-weight: 700;
}
h3{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    height: auto;

      img {
        max-width: 522px;
        width: 100%;
      }
  }

  .info {
    width: 100%;
    justify-content: space-between;
    align-items: center;

      h1 {
        font-size: 80px;
      }

      h1, p {
        text-align: center;
      }

      button {
        margin: 20px 0;
        font-size: 20px;
        padding: 10px;
      }
  }

  .infoDados div {
    width: 120px;

      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 12px;
      }
  }
}

@media (max-width: 500px) {
  .main {
    height: 1000px;
  }
  .info h1 {
    font-size: 60px;
  }

  .info p {
    font-size: 16px;
  }
}
