.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #205691;
    position: relative;

    .imgLogo {
        max-width: 87px;
        max-height: 65.7px;
        width: 100%;
        height: 100%;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;

    .Link {
        padding: 5px 20px;
        font-family: 'Source Sans 3', sans-serif;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }
}

.imgUser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #00AAFF;
    cursor: pointer;
}

.navUser {
    position: absolute;
    right: 0;
    background-color: #205691;
    opacity: 0;
    animation: fade-in 0.3s forwards;
    
    @keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
   a{
        display: block;
        padding: 5px 10px;
        color: white;
        font-family: 'Source Sans 3', sans-serif;
        text-align: end;
        transition: background-color 0.3s;
        &:hover{
            background-color: #00AAFF;
        }
        &:active{
            background-color: #0077CC;
        }
    }
}

.closedNavUser{
    display: none;
}

@media (max-width: 400px) {
.header .imgLogo {
max-width: 57px;
}
}