.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #205691;
    position: relative;
    z-index: 1000;

    .imgLogo {
        max-width: 87px;
        max-height: 65.7px;
        width: 100%;
        height: 100%;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;

    .Link {
        padding: 5px 20px;
        font-family: 'Source Sans 3', sans-serif;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }
}

.imgUser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #00AAFF;
    cursor: pointer;
}

.navUser {
    position: absolute;
    top: 100px;
    right: 0;
     width: 220px;
    background-color: #205691;
    z-index: 9999;
    opacity: 0;
    animation: fade-in 0.3s forwards;
    border-bottom-left-radius: 10px;
box-shadow: 0 12px 30px rgba(0,0,0,0.18);
    
    @keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
   a{
        display: block;
    padding: 10px 12px;
    color: white;
    font-family: "Source Sans 3", sans-serif;
    text-align: right;
    transition: background-color 0.3s;
        &:hover{
            background-color: #00AAFF;
        }
        &:active{
            background-color: #0077CC;
        }
    }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.closedNavUser{
    display: none;
}

@media (max-width: 768px) {
  .header {
    height: 80px;
    padding: 0 16px;
  }

  .header .imgLogo {
    max-width: 60px;
    max-height: 45px;
  }

  .imgUser {
    width: 42px;
    height: 42px;
  }


  .nav {
    display: none;
  }


  .navUser {
    top: 80px;
    width: 200px;
  }
}


@media (max-width: 400px) {
  .header {
    height: 70px;
    padding: 0 12px;
  }

  .header .imgLogo {
    max-width: 50px;
  }

  .imgUser {
    width: 38px;
    height: 38px;
  }

  .navUser {
    top: 70px;
    width: 180px;
  }
}


@media (max-width: 250px) {
  .header {
    height: 60px;
    padding: 0 8px;
  }

  .header .imgLogo {
    max-width: 40px;
  }

  .imgUser {
    width: 32px;
    height: 32px;
  }

  .navUser {
    top: 60px;
    width: 160px;
  }
}